{# add navigation current nav mark #}
{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Front-Office - GRDF{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        '@GrdfFrontOfficeBundle/Resources/public/css/libs/jquery-ui.min.css'
        '@GrdfFrontOfficeBundle/Resources/public/css/libs/jquery-ui.structure.min.css'
        '@GrdfFrontOfficeBundle/Resources/public/css/libs/jquery.dataTables.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}


</head>
<body>
<div class="container">
    {% block header %}{% endblock %}
    {% block flash %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div>
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}

    <header>{% block naiv %}{% include '::header.html.twig' %}{% endblock %}</header>
    {% block content %}{% endblock %}
    {% block body %}{% endblock %}
    <footer>
        <div class="container">
            <hr>
            <div class="row centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="centered">En cas d'urgence vous pouvez contacter le numéro XX XX XX XX XX</p>
                </div>
            </div><!-- /row -->
            <hr>
        </div><!-- /container -->
    </footer>
</div>

{% block javascripts %}
    {% javascripts
    '@GrdfFrontOfficeBundle/Resources/public/js/libs/jquery-3.1.0.min.js'
    '@GrdfFrontOfficeBundle/Resources/public/js/libs/jquery-ui.min.js'
    '@GrdfFrontOfficeBundle/Resources/public/js/libs/bootstrap.min.js'
    '@GrdfFrontOfficeBundle/Resources/public/js/libs/jquery.dataTables.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        // get locale
        locale = "{{ app.request.locale }}";
        // get route
        route = "{{ route }}";
    </script>
{% endblock %}


<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>


</body>
</html>