<header>
    <meta charset="utf-8">
    <title>Enedis</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('css//img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</header>
{% if is_granted('ROLE_USER') %}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php"><b>GRDF</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_REPRESENTANT_TERRITORIAL') %}
                <li><a href="{{ path('missions_index') }}">Mes missions</a></li>
                <li><a href="{{ path('missions_index') }}">Toutes les missions de mon territoire</a></li>
                <li><a href="{{ path('missions_index') }}">Statistiques</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                <li><a href="{{ path('mail_homepage_sendMail') }}">Contacter l'administrateur</a></li>
                {% elseif is_granted('ROLE_MANAGER_AGENCE') %}
                <li><a href="{{ path('missions_index') }}">Les missions en attente</a></li>
                <li><a href="{{ path('missions_index') }}">Mes missions en cours</a></li>
                <li><a href="{{ path('missions_index') }}">Mes missions terminées</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                <li><a href="{{ path('mail_homepage_sendMail') }}">Contacter l'administrateur</a></li>
                {% elseif (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')) %}
                <li><a href="{{ path('missions_index') }}">Validation</a></li>
                <li><a href="{{ path('missions_index') }}">Les missions en attente</a></li>
                <li><a href="{{ path('missions_index') }}">Les missions en cours</a></li>
                <li><a href="{{ path('missions_index') }}">Les missions terminées</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endif %}
